.landing {
  margin: 0 auto;
  text-align: center;
  
}

.banner {
  text-align: center;
  background-image: url(../../images/banner.png);
  height: 50vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-text{
  width: 500px;
  display: inline-block;
  margin-top: 25px;
  color: white;
  font-size: 70px;
  background-color: green;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
background-color: #6A5BC7;
}

.info-text {
  padding-top: 100px;
  font-size: 25px;
  word-wrap: break-word;
  height: 50%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.info {
background-color: black;
font-size: 25px;
color: white;
}

.info-landing {
  background-color: #e0e0e0;;
  text-align: center;
  color: black;
  padding-top: 25px;
  margin-top: 25px;
  padding: 40px;
}



.info-landing h1 {
  color: black;
  font-size: 50px;
}

.info-landing p {
  font-size: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.info-landing li {
  color: black;
  font-size: 18px;
  list-style-type: none;
}

.step {
 border: 2px  solid black;
 width: 50%;
}

.info-container{
  margin: 0 auto;
  text-align: center;  
  background-color: #e0e0e0;
  padding: 20px;
  
  }
  
  .info-container h1 {
    font-size: 40px;
    color: black;
  }
  
  .info-container p{
    color: black;
    font-size: 28px;
  }
  
  .f-pg p {
    font-size: 28px;
    color: white;
  }
  
  .f-pg {
   display: inline-block;
   width: 33%;
   color: white;
  }
  
  .info-progression {
  margin-top: 25px;  
  background-color: black;
  padding-top: 40px;
  padding-bottom: 25px;
  color: white;
  border: 2px solid black;
  }
  
  