/* .fixtures {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

} */

.test {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
  flex-wrap: wrap;
}

.team-card:hover{
  cursor: pointer;
}

.empty{display: none;}

.ant-list{
padding-right: 50px;
}

.list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

}

.card {
font-size: 45px;
}

 .leagues-list,
.teams-list,
.match-list {
  /* display: inline-block; */
  /* flex-direction: column;
  flex: 1;
  align-items: center;
  list-style-type: none;
  border-radius: 25px;
  margin: 5px; */
  width: 50%;
}

.test-list {
  display: inline-block;
   flex-direction: row;
  flex: 1;
  align-items: center;
  list-style-type: none;
  border-radius: 25px;
  margin: 5px;
  flex-wrap: wrap;
}

.leagues-list {
  background-color: #c3c3c3;
  width: 50%;
}

.teams-list {
  background-color: #6a5acd;
}

.match-list {
  background: linear-gradient(to right, #11998e, #38ef7d);
}
.test-list:empty{
  display: none;
}

.fa-trash-o{
  width: 25px;
}


.team,
.league,
.match {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.league {
  color: black;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
}

.league:hover {
  background-color: #3e8e41;
}

.league:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.match {
  background-color: #c3c3c3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.match:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.team:hover,
.league:hover,
.match:hover {
  color: yellow;
}

.crest {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.modal {
  padding: 25px;
  margin: 25px;
}

.custom-overlay {
  background: rgba(36, 123, 160, 0.7) !important;
}
.custom-modal {
  background: #b2dbbf !important;
  max-width: 1000px !important;
  height: 95%;
  width: 100%;
  overflow: hidden;
}

.highlights {
  margin-top: 25px;
  list-style-type: none;
  display: flex;
 flex-direction: row;
}

.highlights h3 {
  margin-left: 15px;
  word-wrap: break-word;
}

.reviews-heading {
text-align: center;
}

.review-item {
  display: inline-block;
  width: 25%;
  background-color: #6a5acd;
  color: white;
  margin: 5px;
  font-size: 15px;
  text-align:  center;
  word-wrap: break-word;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
}


.review-item h3, .review-item h4, .review-item p{
  color: red;
  margin: 5px;
  font-size: 20px;
}
.match {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid blue;
}

.match-item {
  font-size: 30px;
}

.match-date {
  font-size: 20px;
}

.moment {
  display: block;
}

.goals {
  color: #6a5acd;
}

.fa-trash-o {
  color: red;
}
.versus {
  color: green;
}
.modal-btn {
  display: inline-block;

  font-size: 19px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 125px;
  height: 50px;
  padding: 6px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-btn:hover {
  background-color: #3e8e41;
}

.modal-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.highlights-modal-btn{
background-color: rgb(127, 116, 201)
}

.highlights-modal-btn:hover{
background-color: #6A5BC7
}

.review-form {
  margin: 0 auto;
  text-align: center;
}


form textarea {
  height: 200px;
  width: 50%;
  margin: 15px auto;
  font-size: 25px;
  padding: 20px;
  outline:none;
  border-radius: 100px;
  padding:30px;
}

form .rating-select{
  width: 75px;
  border-radius: 100px;
  font-size: 25px;
  height: 50px;
}

.form-submit-btn{
  border-radius: 100px;
  padding: 15px;
}

@media (max-width:768px){
.list{
  flex-direction: column;
}

.highlights img{
  width: 80%;
}

.test-list {
  width: 100%;
  flex-direction: column;
}


}

