.reviews-container{
  text-align: center;
  margin: 0 auto;
  background-color: #C2C2C2;
}

.review {
  background-color: #6a5acd;
  color: white;
  margin: 5px;
}

.match-title {
  font-size: 18px;
}

.reviews-container h1{
  margin: 25px;
  padding: 10px;
}