.register {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 20px;
}

.register-container {
height: 100vh;
background-color: white;
}

.register-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



.register-container h2 {
 padding-bottom: 10px;
}

.login-link {
  font-size: 30px;
  text-decoration: none;
}

.prev-acc {
  margin-top: 25px;
}
