.login {
  margin: auto;
  width: 50%;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 20px;
  color: black;
}

.login-container {
height: 100vh;

}


.login-container h2 {
 padding-bottom: 10px;
}

.prev-acc {
  margin-top: 25px;
}
